apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: piraeus-datastore
generatorOptions:
  disableNameSuffixHash: true
resources:
  - tls.yaml
  - linstor-cluster.yaml
  - linstor-satellite-configuration.yaml
  - linstor-storage-pool-autovg-job.yaml
  - storage-classes.yaml
  - servicemonitor.yaml
  - drbd-reactor-service.yaml
  - drbd-reactor-servicemonitor.yaml
