apiVersion: piraeus.io/v1
kind: LinstorSatelliteConfiguration
metadata:
  name: homelab
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  internalTLS:
    certManager:
      name: linstor-internal-ca
      kind: Issuer
  patches:
    - patch: |
        apiVersion: apps/v1
        kind: DaemonSet
        metadata:
          name: linstor-satellite
        spec:
          template:
            spec:
              initContainers:
                - name: drbd-shutdown-guard
                  $patch: delete
                - name: drbd-module-loader
                  $patch: delete
              volumes:
                - name: run-systemd-system
                  $patch: delete
                - name: run-drbd-shutdown-guard
                  $patch: delete
                - name: systemd-bus-socket
                  $patch: delete
                - name: lib-modules
                  $patch: delete
                - name: usr-src
                  $patch: delete
                - name: etc-lvm-backup
                  hostPath:
                    path: /var/etc/lvm/backup
                    type: DirectoryOrCreate
                - name: etc-lvm-archive
                  hostPath:
                    path: /var/etc/lvm/archive
                    type: DirectoryOrCreate
      target:
        kind: DaemonSet
        name: linstor-satellite
  storagePools:
    - lvmPool:
        volumeGroup: linstor
      name: lvm-thick
      source:
        hostDevices:
          - /dev/nvme0n1
