prometheus:
  thanosService:
    enabled: true
  thanosServiceMonitor:
    enabled: true
  prometheusSpec:
    enableRemoteWriteReceiver: true
    replicas: 2
    retention: 15d
    serviceDiscoveryRole: EndpointSlice
    externalLabels:
      cluster: homelab
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    podMonitorSelectorNilUsesHelmValues: false
    podMonitorSelector: {}
    probeSelectorNilUsesHelmValues: false
    probeSelector: {}
    ruleSelectorNilUsesHelmValues: false
    ruleSelector: {}
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: linstor-csi
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 50Gi
    thanos:
      image: quay.io/thanos/thanos:v0.40.1

alertmanager:
  alertmanagerSpec:
    replicas: 3
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: linstor-csi
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 5Gi

kubeEtcd:
  enabled: false

kube-state-metrics:
  replicas: 2
  podDisruptionBudget:
    minAvailable: 1
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: kube-state-metrics
          topologyKey: kubernetes.io/hostname
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app.kubernetes.io/name: kube-state-metrics

prometheusOperator:
  enabled: true

grafana:
  defaultDashboardsEnabled: true
  replicas: 2
  service:
    type: LoadBalancer
    loadBalancerIP: 10.0.0.70
    sessionAffinity: ClientIP
    annotations:
      metallb.io/address-pool: homelab
  envValueFrom:
    GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
      secretKeyRef:
        name: grafana-oidc
        key: client-secret
  env:
    GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION: "true"
  grafana.ini:
    server:
      domain: grafana.homelab.ntbc.io
      root_url: https://grafana.homelab.ntbc.io
    security:
      disable_initial_admin_creation: true
      cookie_secure: true
      cookie_samesite: lax
    auth:
      disable_login_form: true
    auth.generic_oauth:
      enabled: true
      name: Dex
      client_id: grafana
      client_secret: ${GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
      scopes: openid email profile groups
      auth_url: https://dex.homelab.ntbc.io/auth
      token_url: https://dex.homelab.ntbc.io/token
      api_url: https://dex.homelab.ntbc.io/userinfo
      allow_sign_up: true
      role_attribute_path: email=='thomas.krahn.tk@gmail.com' && 'Admin' || 'Viewer'
      role_attribute_strict: true
      skip_org_role_sync: false
  sidecar:
    datasources:
      url: http://thanos-query.monitoring.svc:9090/
  additionalDataSources:
    - name: prometheus
      uid: prometheus-legacy
      type: prometheus
      access: proxy
      url: http://thanos-query.monitoring.svc:9090
    - name: default
      uid: default
      type: prometheus
      access: proxy
      url: http://thanos-query.monitoring.svc:9090
    - name: Loki
      uid: loki
      type: loki
      access: proxy
      url: http://loki.monitoring.svc:3100
