apiVersion: v1
kind: ServiceAccount
metadata:
  name: alertmanager
  namespace: monitoring
---
apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: alertmanager
  namespace: monitoring
  labels:
    monitoring: default
spec:
  replicas: 1
  serviceAccountName: alertmanager
  securityContext:
    runAsUser: 65534
    runAsGroup: 65534
    fsGroup: 65534
  configSecret: alertmanager-config
  storage:
    volumeClaimTemplate:
      spec:
        storageClassName: linstor-csi
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi
