apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: node-exporter
  namespace: monitoring
  labels:
    monitoring: default
spec:
  selector:
    matchLabels:
      app: node-exporter
  endpoints:
    - port: metrics
      interval: 30s
  namespaceSelector:
    matchNames:
      - monitoring
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: kube-state-metrics
  namespace: monitoring
  labels:
    monitoring: default
spec:
  selector:
    matchLabels:
      app: kube-state-metrics
  endpoints:
    - port: http
      interval: 30s
      relabelings:
        - action: replace
          targetLabel: cluster
          replacement: homelab
  namespaceSelector:
    matchNames:
      - monitoring
